{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}


{% block header  %}

<div class="header">
    <img src="../assets/img/logo-v2.png"/>
</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}





{% block content %}
	<div class="row">
    {% for record in data %}
		{# {% if record.id % 2 == 0 %} #}
	
		<div class="col-md-6 border shadow p-3 mb-5 bg-white rounded">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ record.afbeelding }}" style="width: 100%; height: 275px;">
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h2 style="color: #6e8722">
						{{ record.titel }}
					</h2>
				</div>
				<div class="col-md-6">
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
					<i class="far fa-star"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ record.korte_omschrijving }}<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 
					<button type="submit" class="btn btn-danger btn-sm">
						<h5 style="color: white">Smullen!</h5>
					</button>
					<br><br><br>
				</div>
				<div class="col-md-6">
				<i class="fa fa-users">4</i><i class="fa fa-euro-sign"></i><i class="fa fa-fire"></i>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
{% endblock %}


{% block footer %}
<footer id="footer">
<div class="site-footer">
	<img id="footer-img" src="../assets/img/verrukkulluk-pay-off-small.png" />
	<img id="contact" src="../assets/img/verrukkulluk-contact-small.png" /> 
	<br><br><br><br>
	<p>www.verrukkulluk.nl<br>
	Poststraat 2B<br>
	Sittard<br>
	info@verrukkulluk.nl</p>
</div>
</footer>
{% endblock %}

    
    
     {# Dump 
       <pre>
        {{ dump(data) }}
       </pre> #}






