<html lang="nl">
<head>

    <title>het is verrukkulluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="../assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/fonts.css" />
    {# <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.css" /> #}
    <script src="https://kit.fontawesome.com/7d23f0745f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="main.css" />

    <script type="text/javascript" language="javascript" src="../assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="../assets/bootstrap/js/bootstrap.js"></script>

    <script> $(document).ready(function(){

        $(".fa-star").click(function(){

            var value = $(this).attr("data-value");
            var gerecht_id = $(".smulknop").attr("data-value");

            $.ajax({
                url: "../lib/rating.php",
                method: "POST",
                data: { rating: value, gerecht: gerecht_id }, // hoe kan ik hier het juiste gerecht_id ingeven?
                success: function(response) {

                    $('.fa-star').each( (index, elem) => {

                    $(elem).removeClass("after");

                    var itemValue = $(elem).attr('data-value');

                    if(itemValue <= value){

                    $(elem).addClass("after");
                    }
                    console.log(value);
                })
                },
                complete: function(){
                    addRating($gerecht_id, $rating); // Hoe call ik een functie die in een ander bestand (.php) is gemaakt?
                }
            })

            
        })
    });
    </script>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        {% block nav %}
        {% endblock %}
        </div>

    <div class="row">
        <div class="col-md-12">
        {% block header %}
        
        {% endblock %} 
        <br><br>  
        </div>
    </div>
    


    <div class="row content">
		<div class="col-md-3 green agenda border shadow p-3 mb-5 rounded">
            <br><br>
            <img src="../assets/img/verrukkulluk-agenda-small.png">
            <br><br>
            <i class="fa fa-calendar 2x"></i><h5> 28 februari: Workshop vegetarisch koken</h5> <a href="">aanmelden</a> <br><br>
            <i class="fa fa-calendar 2x"></i><h5> 7 maart: Workshop bourgondisch genieten</h5> <a href="">aanmelden</a> <br><br>
            <i class="fa fa-calendar 2x"></i><h5> 13 maart: Workshop stunten met pannen</h5> <a href="">aanmelden</a> <br><br>
            <i class="fa fa-calendar 2x"></i><h5> 27 maart: Workshop keten met ketelen</h5> <a href="">aanmelden</a> <br><br>
            <i class="fa fa-calendar 2x"></i><h5> 1 april: Workshop kannibalisme</h5> <a href="">aanmelden</a> <br><br>
            <div class="row">
                <div class="col-md-12 red logintext">
                    <img src="../assets/img/verrukkulluk-login-small.png">
                    <br><br>
                    <form role="form">
						<div class="form-group">
							 
							<label for="InputEmail">
								Email
							</label>
							<input type="email" class="form-control" id="InputEmail" />
						</div>
                        <br>
						<div class="form-group">
							 
							<label for="InputPassword">
								Wachtwoord
							</label>
							<input type="password" class="form-control" id="InputPassword" />
						</div>	
                        <br><br>					
						<button type="submit" class="btn btn-warning btn-large btn-block">
							<h2 style="color: white">Login</h2>
						</button>
					</form>
                </div>
            </div>
          
		</div>      

		<div class="col-md-9">
        	{% block content %}
            {% endblock %}		
		</div>

        
        
	</div>

    

</div>

<div class="row">
        <div class="col-md-12">
            {% block footer %}
            {% endblock %}
        </div>
</div>

{# tabs script #}
<script>
function openInfo(evt, name) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(name).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
</body>
</html>
